{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="example-wrapper">

    <h1>Posts</h1>
    {% for post in posts %}
    <ul>
            <li>{{ post.tile }}</li>
            <li>{{ post.body }}</li>
    </ul>
    {% endfor %}

</div>
{% endblock %}
